<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SituacionesDePeligro</title>
    <h1>Como actuar ante situaciones de peligro</h1>
</head>
<body>
    <h2>En la vida cotidiana se pueden generar cituaciones de emergencia, saber como reaccionar en estas situaciones puede salvar vidas</h2>
    <h3>Obstruccion de la via aera</h3>
        <p>A una persona de le puede atorar en la garganta un elemto, que impida la entrada de oxigeno, en este caso lo importante es actuar con rapidez</p>
        <h4>¿Que podemos hacer?</h4>
        <p>Debemos practicar la maniobra de Heimlich la cual procedé del siguiente modo:</p>
        <ol>     
            <li>Abrazá a la persona por la espalda y por debajo de sus brazos.</li>
            <li>Poné una de tus manos en puño cerrado cuatro dedos encima de su ombligo, en la línea media del estómago</li>
            <li>Coloca tu otra mano sobre el puño.</li>
            <li>Reclina tu cuerpo un poco hacia delante</li>
            <li>Hacé presión sobre el abdomen en sentido hacia atrás y arriba</li>
        </ol>
    <h3>Electrocucion</h3>
        <p> El contacto con la corriente electrica puede generar quemaduras, la gravedad de la lesion dependera de en que parte del cuerpo circulo la corriente y el votaje de esta</p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Nunca intentes manipular cables caídos o tocar a la persona afectada si está en contacto con lo que creés que produjo la descarga, ya que tambien puedes electrocutarte.</li>
            <li>Si la electrocución ocurrió en un lugar cerrado, fijate si puedes bajar la llave general de electricidad. No basta con que apagues el equipo que produjo la descarga.</li>
            <li>Si no puedes cortar la electricidad y la persona sigue en contacto con la corriente, utilizá un elemento de madera, plástico o goma (que te aísla de la electricidad) para mover el cable o alejar a la persona del artefacto.</li>
            <li>Una vez que logres alejar a la persona de la fuente de electricidad, llamá a emergencias.</li>
            <li>Ya lejos de la fuente de electricidad, fijate si respira y si responde a tus palabras. Si no responde, no se mueve, no respira o respira mal, practicale RCP.</li>
            <li>Si respira y se desmaya, se pone pálida o se marea, recuesta a la persona en una zona seca y cómoda, pon los pies sobre un objeto alto (como el asiento de una silla) y ponle un abrigo.</li>
            <li>Sigue estas instrucciones si tiene una quemadura.</li>
            <li>Seguí estas instrucciones si se golpeó la cabeza o alguna parte del cuerpo.</li>
        </ul>
    <h3>Quemaduras</h3>  
        <p>Un persona se puede quemar si alguna parte de su cuerpo queda expuesta al fuego o a una fuente de calor importante</p>
        <h4>¿Que podemos hacer?</h4>
        <p>Si la quemadura es superficial, puede bastar con abrir la canilla de agua fría y poner bajo el agua la zona afectada.<br>
        Si la quemadura es mas grave:</p>
        <ul>
            <li>tranquilizá a la persona que se quemó.</li>
            <li>Sacale ropa, anillos, pulseras y cinturones cercanas a la zona afectada.</li>
            <li>Hacé correr agua fría de la canilla sobre la parte que se quemó.</li>
            <li>llama a emergencias o dirijite a un hospital</li>
        </ul>
    <h3>Fracturas</h3>
        <p>Ya sea por un accidente, impacto o caída, una persona puede sufrir una o más deformaciones en sus miembros, torso o cabeza, que podrían ser fracturas o traumatismos. En ese caso, debemos tomar algunas precauciones hasta que reciba la atención médica adecuada.</p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Si la fractura fue en un brazo o en la mano, retirale el reloj, los anillos y las pulseras.</li>
            <li>Si la fractura fue en un brazo o pierna, no está expuesta (no sale el hueso a través de la piel) y la persona puede caminar sin ayuda, inmovilizá el miembro y dirigance al hopital.</li>
            <li>Si la persona no puede caminar sin ayuda, o la fractura no es en brazos o piernas, llamá a emergencias</li>
        </ul>
        <h5>¿Cómo inmovilizar un brazo o pierna fracturados?</h5>
        <p>Colocale a lo largo del brazo o pierna herida un objeto rígido y limpio (madera, palo, cartón grueso). El objeto debe ser más largo que el brazo o la pierna, porque también tenés que inmovilizar un poco más allá de las articulaciones, así el movimiento no le provoca más dolor. Por ejemplo, si la fractura es en el antebrazo, se debe inmovilizar también el codo y la muñeca.<br>
        Con cuidado, sujetale el objeto al brazo con un pañuelo, prenda de ropa o trapo limpio. Si la fractura es en un brazo, podés hacerle además un cabestrillo (apoyabrazo) con un pañuelo, tela o bufanda.<br>
        Sujetá el brazo en una parte no lastimada y pasale la tela alrededor del cuello.</p>
    <h3>Cortes y heridas</h3>
        <p>Uno de los accidentes domésticos más habituales son las heridas de corte. Podemos cortarnos con un objeto filoso o como consecuencia de un golpe.<br>
        En la mayoría de los casos, no son graves ni ponen en riesgo nuestra vida. Sin embargo, debemos evitar infecciones o problemas de cicatrización. </p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Si la herida no sangra, lavala con abundante agua y jabón neutro (jabón blanco). Secá la herida con una gasa, ponele desinfectante y colocá un vendaje. No coloques algodón sobre el corte porque se pega a la piel.</li>
            <li>Si la herida sangra poco, lavala con mucha agua y jabón neutro (jabón blanco). Si podés, colocá el corte bajo el chorro de agua de la canilla.</li>
            <li>Si la herida sangra mucho (hemorragia), apoyale una tela limpia y hacé presión (compresa).</li>
            <li>Si el corte está en el brazo, levantalo a la altura de la cabeza mientras continuás haciendo la compresión en la zona de la herida. Como la herida va a estar más arriba que el corazón, va a ayudar a detener la hemorragia.</li>
            <li>Si el corte es en la pierna, recostá a la persona y elevá la pierna mientras continuás haciendo la compresión.</li>
            <li>No hagas torniquete.</li>
            <li>Si sigue sangrando, llevá a la persona al hospital</li>
        </ul>
    <h3>Convulsiones</h3>
        <p>Cuando una persona sufre una crisis convulsiva:</p>
        <ul>
            <li>Tiene contracción muscular involuntaria en todo el cuerpo.</li>
            <li>Pierde el conocimiento.</li>
            <li>Pierde el control de esfínteres (suele orinarse).</li>
            <li>Tiene una fuerte contractura en la mandíbula.</li>
            <li>Puede salirle espuma por la boca y un poco de sangre.</li>
        </ul>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Evitá que se lastime: ponele debajo de la cabeza algo que le sirva de almohada.</li>
            <li>Alejá todo lo que haya alrededor que pueda lastimar a la persona.</li>
            <li>Aflojale la ropa.</li>
            <li>Controlá el tiempo que dure la crisis.</li>
        </ul>
        <h4>Que no debemos hacer</h4>
        <ul>
            <li>Inmovilizarle las extremidades, puede provocar fracturas, sobre todo en los niños.</li>
            <li>Intentar abrirle la boca.</li>
            <li>Ponerle algo en la boca (no existe el riesgo de que se trague la lengua).</li>
            <li>Dejar a la persona sola.</li>
        </ul>
    <h3>intoxicaciones</h3>    
        <p>Existe un conjunto de elementos que pueden resultar nocivos para nuestro organismo si por accidente los ingerimos, respiramos o tocamos, y provocarnos una intoxicación.<br>
        Este riesgo aumenta con los más chicos, quienes por curiosidad natural suelen exponerse más fácilmente a sustancias peligrosas, como productos de limpieza, venenos, remedios, etc.<br>
        Por otra parte, la mala ventilación de un ambiente también puede provocar que respiremos sustancias que nos hacen daño. Una pérdida en la cocina o el calefactor a gas pueden provocar intoxicaciones severas por monóxido de carbono que pongan en riesgo nuestra vida.</p>
        <h4>¿Que podemos hacer?</h4>
        <p>Depende del modo en que la persona entró en contacto con el producto que lo intoxicó:</p>
        <ul>
            <li>Si lo tocó: quitale la ropa de esa zona y lavala con abundante agua durante 15 o 20 minutos. Utilizá solo agua (no uses lociones, grasas o aceites).</li>
            <li>Respiró gas por una pérdida en la cocina o el calefactor: llevá a la persona a un lugar abierto y bien ventilado. Después, cerrá la llave de gas y ventilá la habitación donde se produjo la intoxicación. Llevá inmediatamente a un hospital</li>
            <li>Si le salpicó en el ojo: con un paño o papel suave, retirá del rostro los restos del producto. Lavá el ojo con mucha agua fría de la llave, dejá que corra el agua por el ojo unos 20 minutos. Fijate que no hayan quedado restos del producto en el ojo, pestañas y alrededores.</li>
            <li>Si lo bebió o lo tragó: si la persona tiene dificultades para tragar, está como dormida o confundida, o está inconsciente, no la hagas vomitar ni beber nada. Llevala urgente al hospital</li>
            <li>Si lo respiró: llevá a la persona a un lugar abierto y bien ventilado.</li>
            <li></li>
        </ul>
    <h3>Desmayo</h3>
        <p>Cuando una persona se desmaya, pierde de manera súbita la conciencia y se desvanece, pero no deja de respirar. El principal riesgo que puede producirse es que se golpee al perder la estabilidad o caerse.</p>
        <h4>Sintomas y causas</h4>
        <ul>
            <li>Debilidad repentina (presión muy baja)</li>
            <li>Piel muy pálida</li>
            <li>Sudor frío</li>
            <li>Vista borrosa</li>
        </ul>
        <p>Le puede ocurrir a personas que no tienen ninguna enfermedad ni condición especial por muchos y diversos motivos:</p>
        <ul>
            <li>Por una emoción fuerte.</li>
            <li>Por estar en un lugar cerrado con mala ventilación.</li>
            <li>Por tener un ataque de pánico o ansiedad.</li>
            <li>Porque está en ayunas.</li>
            <li>Por un golpe de calor.</li>
            <li>Por una fobia.</li>
        </ul>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Comprobá que la persona respira, para saber que lo que sufrió es un desmayo.</li>
            <li>Verificá que la persona no se haya golpeado, en especial en la cabeza, y que no haya sufrido cortes o fracturas.</li>
            <li>Fijate si perdió el conocimiento o parece como perdida o confundida.</li>
            <li>Si la persona respira y no está lastimada ni golpeada, muevela a un lugar con buena ventilación.</li>
            <li>Si se desmayó en un lugar muy caluroso, llevala a un lugar fresco o a la sombra. Si se desmayó en un lugar frío, ponele un abrigo encima para que no le baje la temperatura del cuerpo.</li>
            <li>Si perdió el conocimiento, acuestalo sobre el piso, aflojale la ropa (botones o cierres del cuello, corbatas) y colocale los pies sobre un objeto alto (el asiento de una silla, una pila de bolsos, una caja), de manera que sus piernas queden elevadas y la presión sanguínea suba..</li>
            <li>Si no perdió el conocimiento, acuestala boca arriba sobre el piso, aflojale la ropa y pedile que tosa varias veces.</li>
            <li>Hasta que no esté totalmente recuperada, no le ofrezcas comidas ni bebidas. Cuando se recupere, ofrecele agua, nunca una bebida alcohólica.</li>
            <li>Acompañala hasta que se recupere.</li>
        </ul>

    </body>
</html>