<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SituacionesDePeligro</title>
    <h1>Como actuar ante situaciones de peligro</h1>
</head>
<body>
    <h2>En la vida cotidiana se pueden generar cituaciones de emergencia, saber como reaccionar en estas situaciones puede salvar vidas</h2>
    <h3>Obstruccion de la via aera</h3>
        <p>A una persona de le puede atorar en la garganta un elemto, que impida la entrada de oxigeno, en este caso lo importante es actuar con rapidez</p>
        <h4>¿Que podemos hacer?</h4>
        <p>Debemos practicar la maniobra de Heimlich la cual procedé del siguiente modo:</p>
        <ol>     
            <li>Abrazá a la persona por la espalda y por debajo de sus brazos.</li>
            <li>Poné una de tus manos en puño cerrado cuatro dedos encima de su ombligo, en la línea media del estómago</li>
            <li>Coloca tu otra mano sobre el puño.</li>
            <li>Reclina tu cuerpo un poco hacia delante</li>
            <li>Hacé presión sobre el abdomen en sentido hacia atrás y arriba</li>
        </ol>
    <h3>Electrocucion</h3>
        <p> El contacto con la corriente electrica puede generar quemaduras, la gravedad de la lesion dependera de en que parte del cuerpo circulo la corriente y el votaje de esta</p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Nunca intentes manipular cables caídos o tocar a la persona afectada si está en contacto con lo que creés que produjo la descarga, ya que tambien puedes electrocutarte.</li>
            <li>Si la electrocución ocurrió en un lugar cerrado, fijate si puedes bajar la llave general de electricidad. No basta con que apagues el equipo que produjo la descarga.</li>
            <li>Si no puedes cortar la electricidad y la persona sigue en contacto con la corriente, utilizá un elemento de madera, plástico o goma (que te aísla de la electricidad) para mover el cable o alejar a la persona del artefacto.</li>
            <li>Una vez que logres alejar a la persona de la fuente de electricidad, llamá a emergencias.</li>
            <li>Ya lejos de la fuente de electricidad, fijate si respira y si responde a tus palabras. Si no responde, no se mueve, no respira o respira mal, practicale RCP.</li>
            <li>Si respira y se desmaya, se pone pálida o se marea, recuesta a la persona en una zona seca y cómoda, pon los pies sobre un objeto alto (como el asiento de una silla) y ponle un abrigo.</li>
            <li>Sigue estas instrucciones si tiene una quemadura.</li>
            <li>Seguí estas instrucciones si se golpeó la cabeza o alguna parte del cuerpo.</li>
        </ul>
    <h3>Quemaduras</h3>  
        <p>Un persona se puede quemar si alguna parte de su cuerpo queda expuesta al fuego o a una fuente de calor importante</p>
        <h4>¿Que podemos hacer?</h4>
        <p>Si la quemadura es superficial, puede bastar con abrir la canilla de agua fría y poner bajo el agua la zona afectada.<br>
        Si la quemadura es mas grave:</p>
        <ul>
            <li>tranquilizá a la persona que se quemó.</li>
            <li>Sacale ropa, anillos, pulseras y cinturones cercanas a la zona afectada.</li>
            <li>Hacé correr agua fría de la canilla sobre la parte que se quemó.</li>
            <li>llama a emergencias o dirijite a un hospital</li>
        </ul>
    <h3>Fracturas</h3>
        <p>Ya sea por un accidente, impacto o caída, una persona puede sufrir una o más deformaciones en sus miembros, torso o cabeza, que podrían ser fracturas o traumatismos. En ese caso, debemos tomar algunas precauciones hasta que reciba la atención médica adecuada.</p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Si la fractura fue en un brazo o en la mano, retirale el reloj, los anillos y las pulseras.</li>
            <li>Si la fractura fue en un brazo o pierna, no está expuesta (no sale el hueso a través de la piel) y la persona puede caminar sin ayuda, inmovilizá el miembro y dirigance al hopital.</li>
            <li>Si la persona no puede caminar sin ayuda, o la fractura no es en brazos o piernas, llamá a emergencias</li>
        </ul>
        <h5>¿Cómo inmovilizar un brazo o pierna fracturados?</h5>
        <p>Colocale a lo largo del brazo o pierna herida un objeto rígido y limpio (madera, palo, cartón grueso). El objeto debe ser más largo que el brazo o la pierna, porque también tenés que inmovilizar un poco más allá de las articulaciones, así el movimiento no le provoca más dolor. Por ejemplo, si la fractura es en el antebrazo, se debe inmovilizar también el codo y la muñeca.<br>
        Con cuidado, sujetale el objeto al brazo con un pañuelo, prenda de ropa o trapo limpio. Si la fractura es en un brazo, podés hacerle además un cabestrillo (apoyabrazo) con un pañuelo, tela o bufanda.<br>
        Sujetá el brazo en una parte no lastimada y pasale la tela alrededor del cuello.</p>
    <h3>Cortes y heridas</h3>
        <p>Uno de los accidentes domésticos más habituales son las heridas de corte. Podemos cortarnos con un objeto filoso o como consecuencia de un golpe.<br>
        En la mayoría de los casos, no son graves ni ponen en riesgo nuestra vida. Sin embargo, debemos evitar infecciones o problemas de cicatrización. </p>
        <h4>¿Que podemos hacer?</h4>
        <ul>
            <li>Si la herida no sangra, lavala con abundante agua y jabón neutro (jabón blanco). Secá la herida con una gasa, ponele desinfectante y colocá un vendaje. No coloques algodón sobre el corte porque se pega a la piel.</li>
            <li>Si la herida sangra poco, lavala con mucha agua y jabón neutro (jabón blanco). Si podés, colocá el corte bajo el chorro de agua de la canilla.</li>
            <li>Si la herida sangra mucho (hemorragia), apoyale una tela limpia y hacé presión (compresa).</li>
            <li>Si el corte está en el brazo, levantalo a la altura de la cabeza mientras continuás haciendo la compresión en la zona de la herida. Como la herida va a estar más arriba que el corazón, va a ayudar a detener la hemorragia.</li>
            <li>Si el corte es en la pierna, recostá a la persona y elevá la pierna mientras continuás haciendo la compresión.</li>
            <li>No hagas torniquete.</li>
            <li>Si sigue sangrando, llevá a la persona al hospital</li>
        </ul>

    </body>
</html>